*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% - 200px);
    margin:100px auto;
}

@media (max-width:1200px) {
    .container{
        width: calc(100% - 160px);
        margin-right: 80px;
        margin-left: 80px;
    }
}
@media (max-width:1000px) {
    .container{
        width: auto;
        margin:150px auto;
    }
}
@media (max-width:555px){
    container{
        width: 80%;
    }
}